/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg01: #333;
    --bg02: #444;
    --bg03: #555;
}

/* Main Structures */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Header */

header {
    background-color: var(--bg01);
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 10px;
}

nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 15px;
    background-color: var(--bg02);
    padding: 1rem;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 1rem 1.5rem;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--bg03);
    border-radius: 7px;
}

.hamburger {
    display: block;
    all: unset;
    width: 38px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.hamburger:hover {
    background-color: var(--bg03);
    border-radius: 5px;
}

nav.active {
    display: flex;
}

/* Main */

main {
    max-width: 1040px;
    margin: 0 auto;
    padding: 1rem;
    flex: 1;
}

h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: auto;
}

/* Figures */

figure {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.288);
    border: 2px solid rgba(128, 128, 128, 0.411);
}

figure h3 {
    padding-bottom: 1rem;
}

figure img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    aspect-ratio: 4 / 3;
    object-fit: fill;
    padding: 10px 0px 0px 0px;
}

figure p {
    font-size: 0.8rem;
    padding: 2px;
}

/* Footer */

footer {
    background-color: var(--bg01);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}